<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
    <header>
        <h1>Корзина</h1>
    </header>
    <main>
        <ul>
            {{#each cartItems}}
                <li>
                    <h2>{{this.product_name}}</h2>
                    <p>Цена: {{this.price}} руб.</p>
                    <p>Количество: {{this.quantity}}</p>
                </li>
            {{/each}}
        </ul>
        <form action="/checkout" method="POST">
            <button type="submit">Оформить заказ</button>
        </form>
    </main>
</body>
</html>
