<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Подключите свой CSS здесь -->
</head>
<body>
    <header>
        <h1>Добро пожаловать в наш онлайн-магазин!</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/products">Товары</a>
            <a href="/add-product">Добавить товар</a>
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
            <a href="/cart">Корзина</a>
        </nav>
    </header>
    
</body>
</html>

